#precode {
    position:relative;
    overflow: auto;
    margin:5px 0;
    padding:1.75rem 0 1.75rem 1rem;
    border-radius:10px;
    background-color: #c4c4c4;
  }
  
  #precode button{
    position:absolute;
    right:20px;
    
    font-size:.9rem;
    padding:.15rem;
    background-color:#828282;
    color:1e1e1e;
    border:ridge 1px #7b7b7c;
    border-radius:5px;
    text-shadow:#c4c4c4 0 0 2px;
  }
  
  #precode button:hover{
    cursor:pointer;
     background-color:#bcbabb;
  }